<div class="mainContainer container-fluid d-flex justify-content-around flex-column align-items-center">
    <div class="videoContainer p-2 d-flex justify-content-center">

        <video class="col-6" controls autoplay [src]="videoData.url"></video>
    </div>
    <div class="videoDetails p-2 d-flex justify-content-center">
        <div class="details col-6 d-flex justify-content-center align-items-center">
            <p class="display-3">Video Details Here!</p>
        </div>
    </div>
</div>