.mainContainer {
    height: 93.25vh;
    padding: 1rem;
    margin-top: 2px;
    // border: 1px solid red;

    .videoContainer {
        height: 50vh;
        width: 100%;
        // background-color: aquamarine;
        // border: 1px solid red;
        margin-top: 2px;

        video {
            height: 100%;
            background-color: black;
            border-radius: 15px;
        }
    }

    .videoDetails {
        height: 30vh;
        width: 100%;
        // background-color: rgb(0, 255, 170);
        // border: 1px solid red;
        margin-top: 2px;

        .details {
            height: 100%;
            background-color: bisque;
        }
    }
}