<div class="container-fluid d-flex justify-content-center align-items-center flex-column load" *ngIf="loader">
    <div class="lds-ripple">
        <div></div>
        <div></div>
    </div>
</div>

<div class="container-fluid d-flex flex-column load" *ngIf="!loader">
    <div class="title p-4">
        <p class="display-3">Videos You've Watched</p>
    </div>
    <div class="d-flex historyContainer p-3 gap-4" *ngIf="videoArr.length != 0">
        <div class="d-flex flex-column" *ngFor="let videoData of videoArr">
            <video [src]="videoData.url" [routerLink]="['/watch', videoData.videoId]"></video>
            <p class="display-6 mt-2" [innerText]="videoData.title"></p>
        </div>
    </div>
    <div class="d-flex historyContainer p-3 ms-3 align-items-center" *ngIf="videoArr.length == 0">
        <p class="h2">Oops.. Seems like You haven't watched any videos yet.</p>
    </div>
</div>