<div class="side-nav-content text-light py-2">
    <ul class="nav-list px-4 py-0" [ngClass]="{'nav-open': sideNavState}">
        <li class="nav-list-item mt-0 d-flex gap-3" (click)="navigateToHome()">
            <i class="bi bi-house-door fs-2 py-2 d-block my-auto"></i>
            <span class="fs-4 d-block my-auto ms-4">Home</span>
        </li>
        <!-- <li class="nav-list-item mt-4 d-flex gap-3">
            <i class="bi bi-collection-play fs-2 py-2 d-block my-auto"></i>
            <span class="fs-4 d-block my-auto ms-4">Subscription</span>
        </li> -->
        <li class="nav-list-item mt-4 d-flex gap-3" (click)="navigateToLibrary()">
            <i class="bi bi-collection-play fs-2 py-2 d-block my-auto"></i>
            <span class="fs-4 d-block my-auto ms-4">Library</span>
        </li>
        <li class="nav-list-item mt-4 d-flex gap-3" (click)="navigateToHistory()">
            <i class="bi bi-clock-history fs-2 py-2 d-block my-auto"></i>
            <span class="fs-4 d-block my-auto ms-4">History</span>
        </li>
    </ul>
</div>

<!-- <div class="side-nav-content text-light py-2">
    <ul class="nav-list p-4">
        <li class="nav-list-item pt-0 mt-0">
            <i class="bi bi-house-door fs-2 me-3"></i>
            <span class="ms-4 fs-4">Home</span>
        </li>
        <li class="nav-list-item mt-4">
            <i class="bi bi-collection-play fs-2 me-3"></i>
            <span class="ms-4 fs-4">Subscription</span>
        </li>
        <li class="nav-list-item mt-4">
            <mat-icon class="fs-2 me-3" style="transform: translateY(15%);">video_library</mat-icon>
            <span class="fs-4 ms-4 py-auto translate-middle-y">Library</span>
        </li>
    </ul>
</div> -->