ul {
    list-style: none;

    li {
        padding: 5px 12px;
        margin-left: -10px;
    }

    li:hover {
        background-color: rgba($color: #ffffff, $alpha: 0.2);
        border-radius: 10px;
        cursor: pointer;
    }
}

.version {
    position: absolute;
    bottom: 0.5%;
}

@media only screen and (max-width: 1150px) {
    ul {
        display: flex;
        justify-content: space-evenly;
    }

    li {
        display: inline;
        width: fit-content;
        margin-top: 0 !important;
        // background-color: aquamarine;
    }

    .version {
        display: none;
    }
}

@media only screen and (max-width: 700px) {

    li {
        span {
            display: none !important;
            // background-color: aquamarine;
        }
    }
}