.video {
  border-radius: 15px 15px 15px 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.offline {
  min-height: 80vh;

  img {
    max-height: 40vh;
  }
}

.main-container {
  max-width: 100vw;
}

.whole {
  .videoContainer {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(5, 1fr);

    .video {
      min-width: 20%;
      background-color: white;

      &:hover {
        scale: 1.05;
        z-index: 100;
      }

      p {
        width: fit-content;
        align-self: center;
      }

      video {
        width: 100%;
        min-height: 15rem;
        max-height: 15rem;
        border-radius: 10px;
        background-color: black;
        cursor: pointer;
      }

      .details {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);

        .title {
          grid-column: span 2;
        }

        .user {
          grid-column: span 2;
        }

        input[type="checkbox"] {
          width: 10px;
          height: 10px;
          outline: none;
          margin: 0;
          padding: 0;
          cursor: pointer;
          background-color: rgba(0, 0, 0, 0.25);
          appearance: none;
          transform: rotate(45deg) translateX(-75%);
          border-radius: 0px 0px 1px 0px;
        }

        input[type="checkbox"]::before {
          position: absolute;
          content: "";
          background-color: rgba(0, 0, 0, 0.25);
          height: 60%;
          width: 100%;
          top: -59%;
          border-radius: 75px 75px 0px 0px;
        }

        input[type="checkbox"]::after {
          position: absolute;
          content: "";
          background-color: rgba(0, 0, 0, 0.25);
          height: 60%;
          width: 100%;
          top: 20%;
          right: 79%;
          transform: rotate(-90deg);
          border-radius: 75px 75px 0px 0px;
        }

        input[type="checkbox"]:checked,
        input:checked[type="checkbox"]::before,
        input:checked[type="checkbox"]::after {
          background-color: red;
        }
      }
    }
  }
}

@media only screen and (max-width: 1700px) {
  .videoContainer {
    // background-color: red !important;
    grid-template-columns: repeat(4, 1fr) !important;
  }
}

@media only screen and (max-width: 1450px) {
  .videoContainer {
    // background-color: green !important;
    grid-template-columns: repeat(3, 1fr) !important;
  }
}

@media only screen and (max-width: 1150px) {
  .videoContainer {
    // background-color: red !important;
    grid-template-columns: repeat(2, 1fr) !important;
    margin-bottom: 6rem;
  }
}

@media only screen and (max-width: 860px) {
  .videoContainer {
    // background-color: green !important;
    grid-template-columns: repeat(1, minmax(25rem, 1fr)) !important;
  }
}

// @media only screen and (min-width: 768px) {
//   .videoContainer {
//     background-color: red !important;
//     grid-template-columns: repeat(3, 1fr) !important;
//   }
// }

// /* Large devices (laptops/desktops, 992px and up) */
// @media only screen and (min-width: 992px) {
//   .videoContainer {
//     background-color: green !important;
//     grid-template-columns: repeat(4, 1fr) !important;
//   }
// }

// /* Extra large devices (large laptops and desktops, 1200px and up) */
// @media only screen and (min-width: 1200px) {
//   .videoContainer {
//     background-color: blue;
//     grid-template-columns: repeat(5, 1fr) !important;
//   }
// }