iframe {
  border-radius: 10px;
}

.bg-success {
  border-radius: 15px 15px 0px 0px;
}

.grad {
  border-radius: 15px 15px 0px 0px;
  background-image: linear-gradient(rgba(25, 135, 84, 1), rgba(25, 135, 84, 1), rgb(220, 53, 69));
}

.some-guy {
  display: grid;
  // padding: 2rem;
  gap: 1.5rem;
  justify-items: center;
  grid-template-columns: repeat(5, 1fr);
}

input {
  margin: 0;
  transform: translateY(-25%);
}

.offline {
  min-height: 80vh;

  img {
    max-height: 40vh;
  }
}

// .wrappee:last-child {
//   margin-right: 200px;
// }

// .bg-success:last-child {
//   background-color: aquamarine !important;
//   // margin-right: auto;
// }

// .video-container {
// min-width: 18%;
// max-width: 18%;
// width: 20%;
// object-fit: contain;
// }

// video {
//   width: 100%;
//   max-height: 5%;
//   background-color: aquamarine;
// }


// iframe:hover {
//   scale: 1.5;
// }