<div class="container-fluid bg-danger">
    <div class="videos d-flex gap-5 flex-wrap py-4 px-1">
        <iframe *ngFor="let link of videoLinks" [src]="link" frameborder="0"></iframe>
        <!-- <p *ngFor="let link of videoLinks" [innerHTML]="link"></p> -->
        <div class="d-flex flex-column justify-content-around align-items-center bg-success p-1">
            <input type="file" (change)="addData($event)" accept="video/mp4">
            <!-- <input type="text" placeholder="UserId"> -->
            <!-- <input type="text" placeholder="VideoId"> -->
            <input type="submit" (click)="addToStorage()" onsubmit="getvalues()">
        </div>
    </div>
</div>